@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-1: #F3F5FC;
    --color-2: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-1);
    width: 1440px;
    height: 1024px;
}

.contenido{
    display: flex;
}

.contenido-text{
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.contenido-text-logo{
    margin: 40px;
    width: 120px;
    height: 48px;
}

.contenido-text-input{
    margin-top: 80px;
    margin-left: 240px;
    width: 577px;
    height: 48px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    color: #0A3871;
    background-color: transparent;
    font-size: 32px;
    border: 0;
    outline: 0;
}

.contenido-text-input::placeholder{
    color: #0A3871;
    font-family: 'inter', sans-serif;
    font-weight: regular-400;
    font-size: 32px;

}

.contenido-mensaje{
    display: flex;
    gap: 8px;
    margin-top: 580px;
    margin-left: 240px;
    width: 229px;
    height: 18px;
}

.contenido-mensaje-icono{
    width: 16px;
    height: 16px;
    margin-left: 0px;
    margin-top: 1px;
}

.contenido-mensaje-texto{
    width: 205px;
    height: 18px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 10px !important;
    color: #495057;
    opacity: 80%;
}

.contenido-botones{
    display: flex;
    gap: 24px;
    margin-top: 16px;
    margin-left: 240px;
    width: 680px;
    height: 67px;
}

.contenido-botones-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    background-color: #0A3871;
    color: #FFFFFF;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
}

.contenido-botones-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    padding: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
}

.boton-copiar{
    position: absolute;
    top: 870px;
    left: 1032px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    padding: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
}

.contenido-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    gap: 32px;
    width: 400px;
    height: 944px;
    background-color: var(--color-2);
    border-radius: 32px;
}

.contenido-encriptado-imagen{
    margin-top: 243px;
    width: 336px;
    height: 304px;
}

.contenido-encriptado-texto{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 336px;
    height: 122px;
    text-align: center;
}

.contenido-encriptado-texto-titulo{
    width: 336px;
    height: 58px;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    align-items: center;
    color: #343A40 !important;
}

.contenido-encriptado-texto-parrafo{
    width: 336px;
    height: 48px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #495057 !important;
}

.p-40{
    padding: 40px 40px 0px 0px;
}