@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-1: #F3F5FC;
    --color-2: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-1);
    width: 1440px;
    height: 1024px;
}

.contenido{
    display: flex;
}

.contenido-text{
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.contenido-text-logo{
    margin: 40px;
    width: 120px;
    height: 48px;
}

.contenido-text-input{
    position: relative;
    top: 80px;
    left: 240px;
    width: 577px;
    height: 48px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    color: var(--color-3) !important;
    background-color: transparent;
    font-size: 32px;
    border: 0;
    outline: 0;
}

.contenido-text-input::placeholder{
    color: var(--color-3);
    font-family: 'inter', sans-serif;
    font-weight: normal;
    font-size: 32px;

}

.contenido-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;
    gap: 32px;
    width: 400px;
    height: 944px;
    background-color: var(--color-2);
    border-radius: 32px;
}

.contenido-encriptado-imagen{
    margin-top: 243px;
    width: 336px;
    height: 304px;
}

.contenido-encriptado-texto{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin-top: 32px;
    width: 336px;
    height: 122px;
    text-align: center;
}

.contenido-encriptado-texto-titulo{
    width: 336px;
    height: 58px;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    align-items: center;
    color: #343A40 !important;
}

.contenido-encriptado-texto-parrafo{
    width: 336px;
    height: 48px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #495057 !important;
}